<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>LOGIN</title>

  <link rel="stylesheet" href="login.scss">
</head>

<body>

  <div class="input">
    <h1 class="input_title">ログイン</h1>

    <h1 class="input_address">メールアドレス</h1>
    <input type="address" placeholder="メールアドレスを入力してください">

    <h1 class="input_password">パスワード</h1>
    <input type="password" placeholder="パスワードを入力してください">

    <h1 class="input_login">ログイン</h1>

    <h1 class="input_create_account">アカウント作成</h1>

  </div>
</body>




