!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title
      LOGIN
  %body
    %div.login-input
    %h1.login-input_title
      ログイン
    %h1.login-input_address
      メールアドレス
    %input{:placeholder => "メールアドレスを入力してください", :type => "address"}/
    %h1.login-input_password
      パスワード
    %input{:placeholder => "パスワードを入力してください", :type => "password"}/
    %h1.login-input_login
      ログイン
    %h1.login-input_create_account
      アカウント作成
