!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LOGIN
  %body
    %login.input
      %h1.input-title ログイン
      %h1.input-address メールアドレス
      %p.input-input 入力してください
      %h1.input-password パスワード
      %p.input-input 入力してください
      %h1.input-login ログイン
      %h1.input-create-account アカウント作成
