!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LOGIN
  %body
    %login.login
      %h1.login__title ログイン
      %h1.login__address メールアドレス
      %p.login__address-input 入力してください
      %h1.login__password-title パスワード
      %p.login__password-input 入力してください
      %h1.login__login-button ログイン
      %h1.login__account-button アカウント作成
