<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>LOGIN</title>

  <link rel="stylesheet" href="login.css">
</head>

<body>

<login class="input">
  <h1 class="input-title">ログイン</h1>

  <h1 class="input-address">メールアドレス</h1>
  <input type="address" placeholder="メールアドレスを入力してください">


  <h1 class="input-password">パスワード</h1>
  <input type="password" placeholder="パスワードを入力してください">

  <h1 class="input-login">ログイン</h1>

  <h1 class="input-create-account">アカウント作成</h1>

</login>
</body>




