// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors.scss";

.login {
  margin: 0;
  /*グリッド*/
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10rem;
  padding: 5rem 5rem;
}

/*タイトル*/
.login__title {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

/*アドレス*/
.login__address {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}
/*アドレス入力欄*/
.login__address-input {
  font: 1rem/3rem sans-serif;
  box-sizing: border-box;
  width: 44rem;
  margin: 1rem 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 0.05rem solid $input-color;
  border-radius: 4px;
  outline: none;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

/*パスワード*/
.login__password-title {
  grid-column: 2 / 5;
  grid-row: 5 / 6;
}
/*パスワード入力欄*/
.login__password-input {
  font: 1rem/3rem sans-serif;
  box-sizing: border-box;
  width: 44rem;
  margin: 1rem 0;
  padding: 0.03rem;
  transition: 0.3s;
  border: 0.05rem solid $input-color;
  border-radius: 4px;
  outline: none;
  grid-column: 2 / 5;
  grid-row: 6 / 7;
}

/*ログイン*/
.login__login-button {
  font-weight: bold;
  border: solid 0.05rem $login-color;
  grid-column: 2 / 5;
  grid-row: 9 / 10;
}

/*アカウント作成*/
.login__account-button {
  font-size: 1rem;
  grid-column: 5 / 6;
  grid-row: 12 / 13;
}